<%- include('partials/header.ejs') %>

    <div class="main-div">
        <div class="title">
            <h1>
                Welcome
            </h1>
        </div>
        <div class="list-container">
            <% if (lists.length> 0) { %>
                <% for( let i=0; i < lists.length; i++ ) { %>
                    <div class="list-item">
                        <form action="/deleteList" method="post">
                            <input type="checkbox" name="completed"
                                onClick="document.getElementById('<%= i %>').classList.toggle('check');" class="chkbox">
                            <p id="<%= i %>">
                                <a href="/<%= lists[i].listAddr %>">
                                    <%= lists[i].listName %>
                                </a>
                            </p>
                            <input type="hidden" name="listAddr" value="<%= lists[i].listAddr %>">
                            <input type="hidden" name="listID" value="<%= lists[i].listID %>">
                            <button class="del-button" type="submit"><i class="fa-regular fa-trash-can fa-xl"
                                    style="color: #ffffff;"></i></button>
                        </form>
                    </div>
                    <% } %>
                        <% } %>
        </div>
        <div>
            <form action="/addList" method="post">
                <input type="text" name="listName" autocomplete="off" placeholder="Add New List" required>
                <button type="submit" class="submit-btn">+</button>
            </form>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>